<!doctype html>
<html>
<head>
    <title> My Vacation Piggy Bank </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> My Vacation Piggy Bank </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

        <div class="col-sm-6">
        <img src="img/trip savings.png">
        </div>

        <div class="col-sm-6">
          <h3> Input the amount of money you've saved for your trip below</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span id="hello"><%= messages[i].name %></span>
              <span id="goodbye"><%= messages[i].date %></span>
              <span id="money"><%= messages[i].amount %></span>
              <button class="delete">delete</button>
            </li>
          <% } %>
          </ul>

          <h2> Add Money </h2>
        <!-- <% if (user.local.email) { %> -->
          <form action="/messages" method="POST">
            <input type="text" placeholder="title" name="name">
            <input type="date" name="date">
            <input type="currency" placeholder="$" name="amount">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
