<!doctype html>
<html>
<head>
    <title> My Vacation Piggy Bank </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> My Vacation Piggy Bank </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
<!-- 
        <div class="col-sm-6">
        <img src="img/trip savings.png">
        </div> -->

        <div class="col-sm-6">
          <h3> Input the amount of money you've saved for your trip below</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span id="hello"><%= messages[i].name %></span>
              <span id="goodbye"><%= messages[i].date %></span>
              <span id="money"><%= messages[i].amount %></span>
              <img src="<%= messages[i].image %>">
              <button class="delete" value="<%=messages[i]._id%>"> delete </button>
            </li>
          <% } %>
          </ul>

          <h2> Add Money </h2>
        <!-- <% if (user.local.email) { %> -->
          <form action="/messages" method="POST">
            <input type="text" placeholder="title" name="name">
            <input type="date" name="date">
            <input type="currency" placeholder="$" name="amount">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
